:root{
    --headerTextSize: 58px;
    --header2TextSize: 48px;
    --paragraphTextSize: 16px;

    --padding12px: 12px;
    --padding72px: 72px;
}

@font-face {
    font-family: 'Familijen-Grotesk';
    src: url(fonts/FamiljenGrotesk-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Fanwood';
    src: url(fonts/FanwoodText-Regular.ttf) format('truetype');
}

body{
    margin: 12px;
    margin-right: 16px;
    margin-top: 92px;
    overflow-x: hidden;
}

h1{
    font-family: 'Fanwood';
    font-size: var(--headerTextSize);
    padding: 0;
    margin: 0;
}

h2{
    font-family: 'Fanwood';
    font-size: var(--header2TextSize);
    padding: 0;
    margin: 0;
}

p{
    font-family: 'Familijen-Grotesk';
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

button{
    background: none;
    border: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:
        calc(var(--padding12px) * 2)
        var(--padding24px);

    box-sizing: border-box;

    background: white;

    z-index: 1000;

    transition: transform 0.4s ease;
}

nav button img{
    padding-right: 16px;
}
nav a{
    opacity: 1;
}
nav a img{
    padding: 12px;
}

nav.hideNav{
    transform: translateY(-100%);
}


a{
    font-family: 'Familijen-Grotesk';
    text-decoration: none;
    color: black;
    opacity: .5;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: 'Familijen-Grotesk';
  font-size: var(--paragraphTextSize);
}

ul {
  list-style: none;
}

.hide{
    display: none;
}

.removeBg{
    background-color: transparent;
    padding: 0;
}

.alignDivRight{
    margin-left: auto;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerVerticallyDiv{
    display: flex;
    align-items: center;
}

.centerHorizontallyDiv{
    display: flex;
    justify-content: center;
}

.centerText{
    text-align: center;
}

.addMarginTop{
    margin-top: var(--padding12px);
}

.fullOpacity{
    opacity: 1;
}

.hollowBtn{
    border: 1px solid black;
    border-radius: 100px;
    padding: var(--padding12px);
    padding-left: 16px;
    padding-right: 16px;    
    opacity: 1;
    width: fit-content;
}

.link{
    text-decoration: underline;
}

.spacer{
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.5;
}

.spaceItems{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menuItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    opacity: 1;
}

.menuItemText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.menuItemPrice{
    font-size: 14px;
}

.menu5Stars{
    height: auto;
    width: 92px;
}

.sectionContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
}
.animate{
    opacity: 0;

    transform: translateY(40px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.animate.show{
    opacity: var(--original-opacity);
    transform: translateY(0);
}

.bestSellerContainer{
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
}

.bestSellerContainer img {
    width: 250px;
    max-width: 55%;
    height: auto;
}

.bestSellerPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: var(--padding12px);
}

.bestSellerPrice p{
    font-size: 24px;
    opacity: 1;
}

.bestSellerContainer > div {
    flex: 1;
    min-width: 0;
}

.homeContact, .homeContact a{
    opacity: 1;
}

.homeContact img{
    width: 32px;
    height: auto;
    padding-right: 6px;
}

.homeContactSection{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.homeContactSection p{
    font-size: var(--paragraphTextSize);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.footer img{
    width: 48px;
    height: auto;
    opacity: 0.5;
}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.footer p{
    font-size: 12px;
    padding-bottom: 48px;
}

#navLogo img{
    width: 42px;
    height: auto;
}

#sideMenu{
    position: fixed;

    top: 0;
    left: 0;

    width: 75%;
    height: 100vh;

    background: white;

    z-index: 2000;

    transform: translateX(-100%);
    transition: transform 0.4s ease;

    padding: 48px 24px;

    box-sizing: border-box;
}

#sideMenu.showMenu{
    transform: translateX(0);
}

#sideMenu ul{
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    gap: 38px;
}

#sideMenu img{
    width: 32px;
    height: auto;
}

#sideMenu a{
    font-size: var(--paragraphTextSize);
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 124px;
}

#heroBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuShowcase{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#homeContactContainer div:not(:last-child){
    padding-bottom: 24px;
}

#socialMediaContact{
    padding-bottom: 12px;
}

#contactInputContainer{
    display: flex;
    flex-direction: column;
    gap: 76px;
}

#contactBtn{
    width: 100%;
}

#desktopNav{
    display: none;
    justify-items: space-around;
}

#desktopNav ul{
    display: flex;
    gap: 48px;
}

#desktopNav ul a{
    font-size: var(--paragraphTextSize);
}

#desktopNavLogo a{
    display: flex;
    align-items: center;
}

#desktopNavLogo a p{
    font-size: var(--paragraphTextSize);
    opacity: 1;
}

#desktopNavLogo img{
    width: 42px;
    height: auto;
}

#introductionDesktop{
    display: none;
}

#introductionDesktop img{
    width: 72vw;
    height: auto;
}

#desktopIntroduction2{
    display: none;
}

#desktopIntroduction2 img{
    width: 121vw;
    height: auto;
}

#desktopMenuShowcase{
    display: none;
}

#bestSellersDesktop{
    display: none;
}

#bestSellersDesktop h1{
    padding-bottom: 64px;
}

#bestSellersContainer{
    display: flex;
    gap: 124px;
}

#deliveryDesktop{
    display: none;
}

@media (min-width: 768px) {
    :root{
        --headerTextSize: 64px;
        --header2TextSize: 48px;
        --paragraphTextSize: 18px;

        --bodyMargin: 12vw;
    }
    
    body{
        margin: var(--bodyMargin);
        margin-top: 192px;
        margin-bottom: 32px;
    }

    nav{
        padding:
            calc(var(--padding12px) * 2)
            var(--bodyMargin);
    }

    .footer p{
        font-size: 16px;
    }

    .menuItemPrice{
        font-size: 16px;
        padding-bottom: 64px;
    }

    #mainContainer{
        gap: 164px;
    }

    #introductionMobile{
        display: none;
    }

    #introductionDesktop{
        display: flex;
        align-items: center;
    }

    #mobileNav{
        display: none;
    }

    #desktopNav{
        display: flex;
    }

    #heroBtns{
        justify-content: left;
    }
    
    #heroBtns a{
        margin-right: 48px;
    }

    #mobileIntroduction2{
        display: none;
    }
    
    #desktopIntroduction2{
        display: flex;
        align-items: center;
    }

    #mobileMenuShowcase{
        display: none;
    }

    #desktopMenuShowcase{
        display: block;
    }

    #desktopMenuShowcase > div:first-child {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 55%;
        padding-bottom: 124px;
    }

    #desktopMenuShowcase div h1{
        padding-bottom: 64px;
    }

    #menuShowcaseDesktop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #bestSellersDesktop{
        display: block;
    }

    #bestSellersMobile{
        display: none;
    }

    #deliveryMobile{
        display: none;
    }

    #deliveryDesktop{
        display: flex;
    }

    #deliveryDesktop img{
        width: 92vw;
        height: auto;
    }

    #innerHomeContactContainer{
        display: flex;
        justify-content: space-between;
    }

    #innerHomeContactContainer > div:last-child{
        width: 40%;
    }

    #homeContactContainer{
        padding-bottom: 124px;
    }

    #homeContactContainer h1{
        padding-bottom: 64px;
    }

    #contactBtn{
        margin-top: 48px;
    }
}

@media (min-width: 1440px) {

        :root{
        --headerTextSize: 94px;
        --header2TextSize: 48px;
        --paragraphTextSize: 19px;

        --bodyMargin: 12vw;
    }

    p{
        font-size: var(--paragraphTextSize);
    }
    
    body{
        margin: var(--bodyMargin);
        margin-top: 138px;
        margin-bottom: 32px;
    }

    #introductionDesktop img{
        width: 48vw;
    }
}